header{background-color:#000000;
        }
nav{font-family:'quicksand',Verdana,sans-serif;
    font-size:18px;}
nav a{color:#45c9db;
  padding-left: 10px;}

  body{color:#ff1276;
    margin: 0px 0px 0px 0px;
  font-family:quicksand,sans-serif;

  background-image:url("Fondo.png");
      background-repeat:no-repeat;
       background-size: 100% 170%;
       font-weight: bold;}

       fieldset{
       width: 600px;
       height: 400px;
       padding-left: 100px;
       padding-right: 100px;

       }

#foto{
  height: 110px;
  width: 110px;
  float: left;
  padding-right: 10px;
border-radius:35%;
}



.footer {

font-family:quicksand,sans-serif;
padding: 1em;
background-color: #efefef;
text-align: center;
border-top:2px solid;
border-color:#66cfe4;
border-style:solid;
border-bottom: none;
border-right: none;
border-left: none;
position: absolute;
bottom: 0px;
height: 60px;
width: 100%;
right: 0px;
padding-right: 0px;
       }

#twitter{
  width: 50px;
  height: 50px;
  float:right;
  padding-right: 30px;
}

#facebook{
  width: 50px;
  height: 50px;
  float:right;
 padding-right: 17px;
}

#instagram{
  width: 50px;
  height: 50px;
  float:right;
  padding-right: 17px;
}


#footerizq{
  width: 100px;
  height: 50px;
  float:left;
}

#powered{
  float: center;
  color:#ff1276;
  padding-left: 220px;
}
